.connection-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;   
    cursor: pointer;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 70vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.modal-content-icon {

}

.icon {
    height: 100px;
    width: auto;
}

.modal-content-verification {

}

.modal-content-bottom-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.p3-name {
    font-size: 18px;
}

.io-text-light-text {
    font-size: 14px;
    color: #666;
}

.io-image {

}

.connect-button,
.cancel-button {
    background-color: var(--colour-MAIN_BLUE);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
