.connect-button-container {
  font-size: 1.6rem;
  box-sizing: inherit;
  padding: 0;
  font-family: Roboto;
  background-color: var(--colour-BLUE_LIGHT_3);
  border-radius: 5px;
  margin: 0;
}

.button-disconn-container {
    font-size: 1.6rem;
    box-sizing: inherit;
    margin: 0;
    font-family: Roboto;
    background-color: var(--colour-PALE_BLUE);
    display: grid;
    grid-template-areas: "marty-name marty-name marty-image" "marty-battery marty-signal marty-image" "disconnect-image disconnect-image marty-image";
    grid-template-columns: .3fr .3fr .4fr;
    overflow: hidden;
    padding: .5rem .5rem .5rem 1rem;
}

.button-disconn-title {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 1rem;
    grid-area: marty-name;
    white-space: nowrap;
}

.button-disconn-battery-container {
    font-size: 1.6rem;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    align-self: end;
    grid-area: marty-battery;
    height: 100%;
    padding-bottom: .8rem;
}

.button-disconn-battery-container svg {
    width: 100%;
}

.button-disconn-signal-container {
    font-size: 1.6rem;
    box-sizing: inherit;
    margin: 0;
    font-family: Roboto;
    grid-area: marty-signal;
    padding: .5rem;
}

.button-disconn-disconnect-btn-container {
    font-size: 1.6rem;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    cursor: pointer;
    grid-area: disconnect-image;
}

.button-disconn-marty-container {
    font-size: 1.6rem;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    align-self: end;
    grid-area: marty-image;
    transform: translateY(15px) translateX(5px);
}

.marty-battery-container {
    font-size: 1.6rem;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    grid-template-columns: 1fr 40%;
    align-items: flex-end;
    display: flex;
    height: 100%;
    row-gap: 2px;
}

.battery-percentage {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    display: block;
    font-size: .5rem;
}

