/* Menu Bar */
.tutorialMenuBar {
    position: absolute;
    bottom: ${css_vh(2.1)};
    left: 50%;
    transform: translateX(-50%);
    width: 380px;
    height: 30px;

    display: grid;
    grid-template-columns: min-content 1fr min-content min-content min-content min-content;
    align-items: center;

    background: white;

    border-radius: 40px;

    border: 3px solid #F4AD46;
    column-gap: 10px;
    padding: 0 3px;
}

#tutorialReadAloud {
    /* align-items: start; */
}

#nextStep,
#previousStep {
    padding: 0;
    justify-items: center;
}

#nextStep {
    padding-left: 3px;
}
#previousStep {
    padding-right: 3px;
}

.tutorialButton {
    border: none;
    cursor: pointer;

    font-size: 4px;

    background: #E6E6E6;
    color: #133C46;

    width: 22px;
    height: 22px;

    position: relative;
    display: grid;
    align-items: center;
    border-radius: 50px;
}

.tutorialTitle {
    font-size: 16px;
    color: #133C46;
    text-align: left;
    font-family: 'Lato Regular'
}

/* Progress Bar */
#tutorialProgressBar {
    position: absolute;
    bottom: ${css_vh(.5)};
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 6px;
    background-color: white;
    border: 1px solid #F4AD46;
    border-radius: 40px;
}

#tutorialProgress {
    width: 0;
    height: 100%;
    background-color: #133C46;
    transition: width 0.3s ease-in-out;
    border-radius: 40px;
}

#tutorialProgressText {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(150%, -50%);
    font-size: 8px;
    color: #133C46;
}

/* Instructor */
.tutorialInstructor {
    position: absolute;
    top: 40%;
    right: ${css_vw(20)};
    z-index: 99999;

    /* pointer events only drag */
    /* pointer-events: none; */
    cursor: grab;

    width: min-content;
}

.tutorialInstructor:active {
    cursor: grabbing;
}

.tutorialInstructorImage {
    height: 100%;
    width: ${css_vh(20 * .79)};
    height: ${css_vh(20)};
    transform: scaleX(-1);
}

.tutorialImage {
    max-width: 100%;
}

.speechBubble {
    position: absolute;
    bottom: 90%;
    left: 22px;
    width: ${css_vh(25)};
    padding: 10px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    z-index: 100000;

    display: none;
}

.speechBubble::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -10px;
}

.speechBubbleControls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.speechBubblePreviousStep {
    background: #E6E6E6;
    color: white;
    border-radius: 5px;
    /* padding: 2.5px 5px; */
    margin-left: -12px;
    cursor: pointer;
}
.speechBubbleNextStep {
    background: #E6E6E6;
    color: white;
    border-radius: 5px;
    /* padding: 2.5px 5px; */
    margin-right: -12px;
    cursor: pointer;

}

#tutorial-down-pointing-arrow-svg {
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translate(-87%, 75%);
    z-index: 100000;
    width: 28px;
}

  /* Drag Animation */ 
.pointingHand {
    position: absolute;
    left: 100%;
    transform: translate(-50%, 0);
    z-index: 100000;
    width: ${css_vh(20)};
    height: ${css_vh(20)};
}

/* Modal */
#tutorialModal {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
    position: relative;
    margin: 10% auto;
    padding: ${css_vh(3)};
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.closeModal {
    position: absolute;
    top: 0;
    right: ${css_vw(1)};
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
}

.modalImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modalVideo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Glow effect for highlighted blocks */
.highlightedElement,
.highlightedBlock {

}

:root {
    --highlightedElementColor: rgba(255, 255, 0, 0.4);
}

.highlightedBlock::before,
.highlightedElement::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--highlightedElementColor);
    filter: blur(2px);
    z-index: 10000;
    opacity: 1;
    animation: glow 2s infinite alternate;
  }
  

@keyframes glow {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(2);
    }
  }