:root {
  --colour-BLUE_LIGHT_1: #d6f3f6;
  --colour-BLUE_LIGHT_2: #a4dae5;
  --colour-BLUE_LIGHT_3: #a1d5e3;
  --tracks-height: 23%;
  --tracks-left: 12%;
  --tracks-colour: #fff;
  --tracks-width: 70%;
  --tracks-border: 2px solid var(--colour-MAIN_BLUE);
  --first-track-top: 5%;
  --second-track-top: 37%;
  --third-track-top: 69%;
  --turns-border: 2px solid var(--colour-MAIN_BLUE);
  --small-turns-height: 11%;
  --small-turns-width: 8%;
  --small-turns-background-colour: var(--colour-AQUA_BLUE_025);
  --small-turn-right-top: 27%;
  --small-turn-left-top: 59%;
  --small-turn-right-left: 76.18%;
  --small-turn-left-left: 9.65%;
  --big-turns-height: 55%;
  --big-turns-width: 50%;
  --big-turns-background-colour: #fff;
  --big-turn-right-top: var(--first-track-top);
  --big-turn-left-top: var(--second-track-top);
  --big-turn-right-left: 43.99%;
  --big-turn-left-left: 0.02%;
  --right-turns-radius: 80% 20% 20% 80%/50% 50% 50% 50%;
  --left-turns-radius: 20% 80% 80% 20%/50% 50% 50% 50%;
  --clip-path-small-right: polygon(72% 0, 100% 0, 100% 100%, 72% 100%);
  --clip-path-small-left: polygon(30% 0, 0 0, 0 100%, 30% 100%);
  --clip-path-big-right: polygon(76% 0, 100% 0, 100% 100%, 76% 100%);
  --clip-path-big-left: polygon(24% 0, 0 0, 0 100%, 24% 100%);
  --arrows-width: 10%;
  --arrows-height: 30%;
  --arrows-border: 1px solid var(--colour-MAIN_BLUE);
  --left-arrow-top: 50%;
  --right-arrow-top: 18%;
  --left-arrow-left: 4.5%;
  --right-arrow-left: 79%;
  --right-arrow-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  --left-arrow-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  --clip-path-arrow-right: polygon(72% 0, 100% 0, 100% 100%, 72% 100%);
  --clip-path-arrow-left: polygon(24% 0, 0 0, 0 100%, 24% 100%);
  --colour-primary: #37abc8;
  --colour-secondary: #f4da61;
  --colour-tertiary: #00d592;
  --colour-BLACK: #262626;
  --colour-BLACK_075: rgba(38, 38, 38, 0.75);
  --colour-BLACK_05: rgba(38, 38, 38, 0.5);
  --colour-BLACK_025: rgba(0, 0, 0, 0.25);
  --colour-GREY: rgba(81, 81, 81, 0.5);
  --colour-GREY_2: #f5f5f5;
  --colour-GREY_3: #8f8e94;
  --colour-GREY_4: #dfdfdf;
  --colour-HINT_GREY: hsla(0, 0%, 49%, 0.5);
  --colour-MAIN_BLUE: #37abc8;
  --colour-LIGHT_BLUE: #30c5eb;
  --colour-AQUA_BLUE_025: rgba(55, 171, 200, 0.25);
  --colour-AQUA_BLUE_05: rgba(55, 171, 200, 0.5);
  --colour-PALE_BLUE: #94cddc;
  --colour-WHITE: #f5f5f5;
  --colour-TRUE_WHITE: #fff;
  --colour-PALE_WHITE: hsla(0, 0%, 96%, 0.5);
  --colour-GREEN: #00d592;
  --colour-RED: #ed5252;
  --colour-SAND_YELLOW: #f4da61;
  --colour-SAND_YELLOW_25: rgba(244, 218, 97, 0.25);
  --colour-SAND_YELLOW_50: rgba(244, 218, 97, 0.5);
  --colour-BLUE_LED: rgba(0, 0, 128, 0.5);
  --colour-GREEN_LED: rgba(0, 128, 0, 0.5);
  --colour-PINK_LED: rgba(128, 0, 128, 0.5);
  --colour-SCREENFREE_PURPLE: #763597;
  --colour-SCREENFREE_GREEN: #037d3c;
  --colour-SCREENFREE_YELLOW: #fad905;
  --colour-SCREENFREE_RED: #5b1413;
  --colour-SCREENFREE_BLUE: #0af;
}

.nav-menu-connect-button-container {
  align-self: end;
  grid-area: connect-button;
}

.connect-button-container {
  font-size: 1.6rem;
  box-sizing: inherit;
  padding: 0;
  font-family: Lato Regular;
  background-color: var(--colour-BLUE_LIGHT_3);
  border-radius: 5px;
  margin: 0;
}

.button-conn-container {
  font-size: 1.6rem;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Lato Regular;
  cursor: pointer;
  display: grid;
  /* grid-template-columns: 70% 30%; */
}

.connect-button-svg-container {
  font-size: 1.6rem;
  cursor: pointer;
  box-sizing: inherit;
  margin: 0;
  font-family: Lato Regular;
  align-items: center;
  display: grid;
  justify-items: center;
  padding: 1rem;
}


.connect-silhouet-svg-container {
    font-size: 1.6rem;
    cursor: pointer;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Lato Regular;
    align-items: end;
    display: grid;
    padding-top: .5rem;
}
